.blue {
    text-align: center;
    border: solid 1px black;
    width: 4rem;
    padding-left: 0.25rem;
    color: white;
    background-color: blue;
}

.yellow {
    text-align: center;
    border: solid 1px black;
    width: 4rem;
    padding-left: 0.25rem;
    background-color: yellow;
}

.green {
    text-align: center;
    border: solid 1px black;
    width: 4rem;
    padding-left: 0.25rem;
    color: white;
    background-color: green;
}

h1 {
    font-style: bold;
}

.purple {
    text-align: center;
    border: solid 1px black;
    width: 4rem;
    padding-left: 0.25rem;
    color: white;
    background-color: purple;
}