.blue {
    color: white;
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.green {
    color: white;
    background-color: green;
}

.purple {
    color: white;
    background-color: purple;
}