.blue {
    width: 6rem;
    padding-left: 0.85rem;
    color: white;
    background-color: blue;
}

.yellow {
    width: 6rem;
    padding-left: 0.85rem;
    background-color: yellow;
}

.green {
    width: 6rem;
    padding-left: 0.85rem;
    color: white;
    background-color: green;
}

.purple {
    width: 6rem;
    padding-left: 0.85rem;
    color: white;
    background-color: purple;
}